.about-motto{
    text-align: center;
    width:100%;
    font-size: 0.9em;
    padding: 0.3em;
}
.about-title{
    text-align:center;
    font-size:1.08em;
    padding:6px 10px;
    color: #fff;
}
.gradient-left{
    background: -moz-linear-gradient(left, #008B77 0px, #2BaB97 40%, #3BbBa7 100%) repeat scroll 0% 0% transparent;
	background: -webkit-linear-gradient(left, #008B77 0px, #2BaB97 40%, #3BbBa7 100%) repeat scroll 0% 0% transparent;
	background: -ms-linear-gradient(left, #008B77 0px, #2BaB97 40%, #3BbBa7 100%) repeat scroll 0% 0% transparent;
	background: linear-gradient(left, #008B77 0px, #2BaB97 40%, #3BbBa7 100%) repeat scroll 0% 0% transparent;
}
.gradient-right{
    background: #004b8b;
	background: -moz-linear-gradient(right, #008B77 0px, #2BaB97 40%, #3BbBa7 100%) repeat scroll 0% 0% transparent;
	background: -webkit-linear-gradient(right, #008B77 0px, #2BaB97 40%, #3BbBa7 100%) repeat scroll 0% 0% transparent;
	background: -ms-linear-gradient(right, #008B77 0px, #2BaB97 40%, #3BbBa7 100%) repeat scroll 0% 0% transparent;
	background: linear-gradient(right, #008B77 0px, #2BaB97 40%, #3BbBa7 100%) repeat scroll 0% 0% transparent;
}
.about-one{
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.about-one span{
    display: block;
    padding: 6px 10px 0px;
    font-size: 0.9em;
    color: #555;
    line-height: 1.4em;
}
.about-contact .about-title{
    background-color: #CCC;
    color: #008b77;
}
.about-contact .contact-info div{

}

.about-contact .contact-info a{
    float:left;
    font-size:0.96em;
    font-family: Consolas;
    color: #008b77;
}
.about-contact .contact-info a:hover{
    color: #f60;
}
.about-contact .contact-info a img{
    height:36px;
}
.about-contact .contact-info a div{
    float:left;
    height:36px;
    line-height:36px;
}

.about-feedback .feedback-info{
    width:100%;
    margin-top: 4px;
}
.about-feedback .feedback-info .feedform div{
    width:100%;
    text-align: center;
    padding-bottom: 4px;
}
.about-feedback .feedback-info .feedform input,textarea{
    font-family: "Consolas","Microsoft YaHei";
    font-size: 16px;
    border: 2px solid #EEE;
    width:96%;
    padding:10px 4px;
    height: 20px;
}
.about-feedback .feedback-info .feedform input:focus,textarea:focus{
    border-color: #008b77;
}
.about-feedback .feedback-info .feedform textarea{
    resize: vertical;
    height: 80px;
    min-height: 80px;
}
.about-feedback .feedback-info .feedform .feed-submit button{
    width: 100%;
    padding: 10px;
    border-style: none;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    background-color: #008B77;
    font-family: Microsoft YaHei;
}