{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}必应今日壁纸-{{ bingwallpaper.title }} Blog-Chen{% endblock %}
{% block extra_description %}
    使用Python urllib2抓取必应首页壁纸
{% endblock %}
{% block extra_link %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/home.css' %}">
    <style type="text/css">
li{
    list-style: none;
}
.bingwallpaper{
    position: relative;
    width: 1000px;
    height: 480px;
    overflow: hidden;
}
.bingwallpaper img{
    width: 100%;
}
.bingwallpaper .bingstory{
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0px;
}
.bingwallpaper .bingstory .onestory{
    width: 25%;
    float: left;
    color: #EFEFEF;
    font-size: 12px;
}
.bingwallpaper .bingstory .onestory p{
    padding: 0px 4px;
}
.bingwallpaper .bingstory .onestory .desc{
    padding-top: 16px;
}
.bingwallpaper .bingstory .onestory .query{
    display: inline;
}
.one_row{
    float: left;
}
.one_row img{
    padding: 0px;
    border:0px;
    float: left;
}

.imgfloat{
    float:left;
}
.imgfloat img{
    float: left;
}
.img_1000{
    width: 1000px;
}
.img_600{
    width: 600px;
}
.img_400{
    width: 400px;
}
.img_200{
    width: 200px;
}
.img_200_150{
    width: 200px;
    height: 150px;
}
.img_200_200{
    width: 200px;
    height: 200px;
}
.img_200_350{
    width: 200px;
    height: 350px;
}
.img_400_150{
    width: 400px;
    height: 150px;
}
.img_400_200{
    width: 400px;
    height: 200px;
}
.img_400_350{
    width: 400px;
    height: 350px;
}
.img_600_350{
    width: 600px;
    height: 350px;
}
.img_1000_350{
    width: 1000px;
    height: 350px;
}
    </style>
{% endblock %}

{% block container %}
    <div class="container"style="padding-top:100px;">
        <div class="one_row">
            <img src="{% static 'photo/images/1.jpg' %}" width="1000px;"height="350px;">
        </div>
        {{photoHtml|safe}}
    </div>
{% endblock %}