{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}Blog-Chen{% endblock %}
{% block extra_meta %}
	{{ block.super }}
	<meta name="description" content="{% for blog in blogs %} {{ blog.title }} {% endfor %}">
{% endblock %}
{% block extra_link %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}">
	<link href="{% static 'syntaxhighlighter/css/shCore.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'syntaxhighlighter/css/shThemeDefault.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block extra_js %}
<script src="{% static 'site/jquery-1.8.2.min.js' %}"></script>
	<script src="{% static 'syntaxhighlighter/js/XRegExp.js' %}" type="text/javascript"></script>
	<script src="{% static 'syntaxhighlighter/js/shCore.js' %}" type="text/javascript"></script>
	<script src="{% static 'syntaxhighlighter/js/shAutoloader.js' %}" type="text/javascript"></script>
	<script src="{% static 'site/syntaxhighlighter_autoloads.js' %}" type="text/javascript"></script>
{% endblock %}
{% block nav_blog %}focus{% endblock %}
{% block container %}
    <div class="container">
        {% include 'blog/side.html' %}
        <div class="right_article">
            {% for blog in blogs %}
                <!-- 博客正文 -->
                <div class="article theme_bd_Color theme_pb_Color">
                    {% include 'blog/article.html' %}
                    <!-- 文章浏览信息部分 -->
                    <div class="article_footer"style="float:right;padding-bottom:6px;margin-right:6px;">
                        <a href="{% url 'blog:detail' blog.id %}#comment">评论<span>[{{ blog.comment_num }}]</span></a>
                        <a href="{% url 'blog:detail' blog.id %}">阅读全文<span>[{{ blog.read_num }}]</span></a>
                    </div>
                </div>
            {% endfor %}
            <!-- 页码Begin -->
            {% if not blogs %}
                <p style="text-align:center;color:red;">啊哦!没有相关的内容哟,请尝试其他的吧.</p>
            {% else %}
			<div class="pagination theme_bd_Color">
                {% if blogs.has_previous %}
                    <a class="pageItem"style="float:left;" href="?page={{ 1 }}">首页</a>
				    <a class="pageItem"style="float:left;" href="?page={{ blogs.previous_page_number }}">上一页</a>
                {% endif %}
                <a class="pageItem on" {% if not blogs.has_next %}style="float:right;"{% endif %}>第{{ blogs.number }}页</a>
                {% if blogs.has_next %}
                    <a class="pageItem"style="float:right;" href="?page={{ blogs.paginator.num_pages }}">尾页</a>
				    <a class="pageItem"style="float:right;" href="?page={{ blogs.next_page_number }}">下一页</a>
                {% endif %}

			</div>
            {% endif %}
			<!-- 页码End -->
        </div>
    </div>

{% endblock %}