{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %}欢迎访问 Blog-Chen{% endblock %}
{% block extra_meta %}
	{{ block.super }}
	<meta name="description" content="{% for blog in blogs %} {{ blog.title }} {% endfor %}">
{% endblock %}
{% block extra_link %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}">
	<link href="{% static 'syntaxhighlighter/css/shCore.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'syntaxhighlighter/css/shThemeDefault.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block extra_js %}
    <script src="{% static 'site/jquery-1.8.2.min.js' %}"></script>
{% endblock %}
{% block nav_index %}focus{% endblock %}
{% block container %}
    <div class="container"style="padding-top:60px;">
        <div class="welcome">
            <h1>欢迎访问d9chen的博客</h1>
        </div>
        <div class="myapptitle">我的应用</div>
        <div class="functionlist">
            <table>
                <thead>
                    <tr>
                        <td>
                            <a class="oneapp"href="/blog/">
                                <!-- <img src="http://d9chen.qiniudn.com/home/cblog.png"> -->
                                <img src="{% static  'blog/images/cblog.png'%}">
                                <p>我的博客</p>
                            </a>
                        </td>
                        <td>
                            <a class="oneapp"href="/chat/">
                                <!-- <img src="http://d9chen.qiniudn.com/home/cchat.png"> -->
                                <img src="{% static  'blog/images/cchat.png'%}">
                                <p>聊天室</p>
                            </a>
                        </td>
                        <td>
                            <a class="oneapp oneapp-last"href="/photo/bing/">
                                <!-- <img src="http://d9chen.qiniudn.com/home/cbing.png"> -->
                                <img src="{% static  'blog/images/cbing.png'%}">
                                <p>必应壁纸</p>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top:10px;">
                            <a class="oneapp"href="/photo/">
                                <img src="{% static 'blog/images/home/cphoto.png' %}">
                                <p>我的图库</p>
                            </a>
                        </td>
                        <td style="padding-top:10px;">
                            <a class="oneapp"href="/interest/movie/">
                                <img src="{% static 'blog/images/home/cmovie.png' %}">
                                <p>电影</p>
                            </a>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}