{% extends 'blog/mobile/base.mobile.html' %}
{% load staticfiles %}
{% block title %}{{ blog.title }}-Chen{% endblock %}
{% block extra_meta %}
	{{ block.super }}
	<meta name="description" content="{{ blog.title }} {% for tag in blog.tags.all %} {{ tag.tag_name }} {% endfor %}">
{% endblock %}
{% block extra_link %}
	<link href="{% static 'syntaxhighlighter/css/shCore.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'syntaxhighlighter/css/shThemeDefault.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'blog/css/comment.mobile.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block extra_js %}
    <script src="{% static 'site/jquery-1.8.2.min.js' %}"></script>
	<script src="{% static 'syntaxhighlighter/js/XRegExp.js' %}" type="text/javascript"></script>
	<script src="{% static 'syntaxhighlighter/js/shCore.js' %}" type="text/javascript"></script>
	<script src="{% static 'syntaxhighlighter/js/shAutoloader.js' %}" type="text/javascript"></script>
	<script src="{% static 'site/syntaxhighlighter_autoloads.js' %}" type="text/javascript"></script>
    <script src="{% static 'blog/js/comment.js' %}" type="text/javascript"></script>
	<script>
	</script>
{% endblock %}
{% block nav_blog %}focus{% endblock %}
{% block container %}
    <!-- 博文 Begin -->
     <div class="article">
         {% include 'blog/mobile/article.mobile.html' %}
         <div class="article_foot">
             <span class="article_time">
                 <a href="javascript:void(0);">{{ blog.publish_time|date:"Y-m-d" }}</a>
             </span>
                <span class="article_info">
                    <a href="javascript:void(0);">评论[{{ blog.comment_num }}]</a>
                    <a href="javascript:void(0);">阅读全文[{{ blog.read_num }}]</a>
                </span>
         </div>
     </div>
    <!-- 博文 End -->
    <!-- 评论列表 Begin -->
    <div class="comment_list">
        {% if comments %}
            <h4>所有评论</h4>
        {% endif %}
        <ul class="com_list">
            {% for comment in comments %}
                {% include 'blog/comlist.html' %}
            {% endfor %}
        </ul>
    </div>
    <!-- 评论列表 End -->
    <!-- 评论 Begin -->
        {% include 'blog/mobile/comment.mobile.html' %}
    <!-- 评论 End -->
{% endblock %}